/*webkit-sass-bem-modifier Start*/
.is-hidden {
}
.is-visible {
}
.is-active {
}
.is-action {
  cursor: pointer;
}
.is-disabled {
  pointer-events: none;
}
.is-title {
  user-select: none;
}
.is-text {
}
/*webkit-sass-bem-modifier End*/
